/*!
Theme Name: IncentFit
Theme URI: http://underscores.me/
Author: ProTech Internet Group
Author URI: https://protechig.com
Description: 2018 WordPress theme for IncentFit
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: incentfit
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

IncentFit is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
 */
/*! =========================================================
 *
 * Material Kit PRO - v2.0.3 (Bootstrap 4.0.0 Final Edition)
 *
 * =========================================================
 *
 * Product Page: https://www.creative-tim.com/product/material-kit-pro
 * Available with purchase of license from https://www.creative-tim.com/product/material-kit-pro
 * Copyright 2018 Creative Tim (https://www.creative-tim.com)
 * License Creative Tim (https://www.creative-tim.com/license)
 *
 * ========================================================= */

@import "core/variables";
@import "core/mixins";
@import "core/core-bootstrap";
@import "core/reboot";

// Core Components
@import "core/layout";
@import "core/buttons";
@import "core/misc";
@import "core/checkboxes";
@import "core/cards";
@import "core/custom-forms";
@import "core/switches";
@import "core/radios";
@import "core/carousel";
@import "core/forms";
@import "core/input-group";
@import "core/list-group";
@import "core/nav";
@import "core/images";
@import "core/navbar";
@import "core/badges";
@import "core/alerts";
@import "core/pagination";
@import "core/pills";
@import "core/info-areas";
@import "core/type";
@import "core/tabs";
@import "core/tooltip";
@import "core/popover";
@import "core/modal";
@import "core/dropdown";
@import "core/drawer";
@import "core/progress";
@import "core/togglebutton";
@import "core/ripples";

// Components for PRO
@import "pro/social-buttons";
@import "pro/fileupload";
@import "pro/tables";
@import "pro/cards";
@import "pro/sections";
@import "pro/media";
@import "pro/activity";

// Core Plugins

@import "plugins/plugin-datetime-picker";
@import "plugins/plugin-nouislider";

//Plugins for PRO

@import "plugins/plugin-bootstrap-select";
@import "plugins/plugin-flexisel";
@import "plugins/plugin-tagsinput";

// Sections and Example pages for PRO

//@import 'pro/example-pages';

@import "pro/sections/footers";
@import "pro/sections/social-subscribe-lines";
@import "pro/sections/features";
@import "pro/sections/team";
@import "pro/sections/pricing";
@import "pro/sections/blogs";
@import "pro/sections/projects";
@import "pro/sections/testimonials";
@import "pro/sections/contactus";
@import "pro/sections/services";
@import "pro/sections/call-to-action";
@import "pro/sections/information";
@import "pro/sections/products";

@import "core/responsive";
@import "pro/sections/headers";

// Vendors
@import "vendor/slick-theme";
@import "vendor/slick";
@import "vendor/fullpage";
@import "vendor/jquery-ui-slider-pips";

.ui-state-default,
.ui-state-hover,
.ui-state-focus {
  background: #fff !important;
  border: 1px solid #78c81c !important;
  border-radius: 25px !important;
}
.ui-slider-handle:after {
  position: relative;
  top: 40px;
  right: 28px;
  content: "\2190 Drag \2192";
  white-space: nowrap;
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
}

#styling-after-slider {
  margin-top: 3em !important;
}
#styling-after-slider .ui-slider-pip {
  top: -12px !important;
}
#styling-after-slider .ui-slider-pip .ui-slider-label {
  top: -18px !important;
}

.ui-widget-header {
  background: #78c81c !important;
}
@media (min-width: 768px) {
  .dropdown-menu {
    margin-top: 0; // fixes closing on slow mouse transition
  }
}

.navbar {
  height: 90px;
  margin-bottom: 0;
  transition: all 0.4s ease;
  &.shrink {
    height: 50px;
  }
}
nav.navbar .navbar-brand {
  // Animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: initial;
  padding: 0;
}
.navbar-brand .custom-logo-link img {
  height: 60px;
  transition: all 0.4s ease;
}
.shrink .custom-logo-link img {
  height: 30px !important;
}
.nav-link {
  font-size: 16px !important;
}

.shrink .nav-link {
  font-size: 16px !important;
}

//* Find a Gym
#map-canvas {
  width: 100%;
  min-height: 600px;
}

#map-canvas .filter {
  margin: 10px 5px;
  background-color: white;
}

#map-canvas .filter input {
  width: 100%;
}

.sidebox {
  margin-top: 10px;
  margin-right: 9px;
  width: 270px;
  height: 500px;
  background: #fff;
  padding: 0px 20px 10px;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.site-content {
  margin-top: 90px;
}

.text-white a {
  color: white;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  transition: all 0.25s ease;
  &:hover {
    border-color: transparent;
  }
}
