.highlighted-text {
    padding: 3rem;
}

.info {
    border-radius: 1rem;
    margin: 2rem .5rem;
    padding: 1rem;
}

.how-it-works {
    padding: 2rem;
}

.cta-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem;

   .row {
       
    .col-8 {
        padding: 2rem;
        background: rgba(229, 229, 229, 0.76);
    }
   }
}