@import '../../core/headers';

.header-filter {
  &[filter-color='purple'],
  &[filter-color='primary'] {
    &:after {
      @include linear-gradient(
        rgba($purple-100, 0.56),
        rgba($purple-300, 0.95)
      );
    }
  }
  &[filter-color='blue'],
  &[filter-color='info'] {
    &:after {
      @include linear-gradient(rgba($cyan-100, 0.56), rgba($cyan-300, 0.95));
    }
  }
  &[filter-color='green'],
  &[filter-color='success'] {
    &:after {
      @include linear-gradient(rgba($green-200, 0.56), rgba($green-400, 0.95));
    }
  }
  &[filter-color='orange'],
  &[filter-color='warning'] {
    &:after {
      @include linear-gradient(
        rgba($orange-100, 0.56),
        rgba($orange-300, 0.95)
      );
    }
  }

  &[filter-color='red'],
  &[filter-color='danger'] {
    &:after {
      @include linear-gradient(rgba($red-200, 0.56), rgba($red-400, 0.95));
    }
  }
  &[filter-color='rose'] {
    &:after {
      @include linear-gradient(rgba($pink-100, 0.56), rgba($pink-300, 0.95));
    }
  }
}
.clear-filter {
  &:before {
    display: none;
  }
}
img.custom-logo {
  width: 100px !important;
  height: auto !important;
}
.header-1,
.header-2,
.header-3 {
  .wrapper {
    background: #cccccc;
  }
}

.header-2 {
  .page-header {
    .container {
      padding-top: 25vh;
    }
    .card {
      margin-top: 60px;
    }
  }
}

.header-3 {
  .btn {
    margin: 0;
  }
  h6 {
    margin-bottom: 0;
  }
}

.card-form-horizontal {
  .form-group {
    margin-bottom: 0;
  }
}

.log-in,
.my-account,
.sign-up {
  display: none;
}
