.information {
    .card-header {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 30rem !important;

        .container .row {
            height: 30rem !important;
        }
    }
}