.col-md-8.pricing, .col-12.pricing {
  padding: 50px 0;
h3 {
  display: block;
  width: 100%;
}
  @media all and (max-width: 400px) {
    h3 {
      text-align: center;
    }
  }

  .slider {
    height: 15px;
    border-radius: 25px;
  }
  .noUi-handle {
    height: 20px;
    width: 20px;
    top: -3px;
  }
  .option-per {
    margin-top: 10px;
    line-height: 1 !important;
    font-size: 0.8rem;
    color: #3c4858;
  }
  [class*="pricing-"] {
    padding: 20px 0;
  }
  .pricing-options {
    @media all and (max-width: 400px) {
      display: flex;
      flex-direction: column;
    }
    @media all and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    .option {
      cursor: pointer;
      user-select: none;
      text-align: center;
      border: solid 1px #ebebeb;
      border-radius: 13px;
      box-shadow: 0 2px 14px 0 #ebebeb;
      background: white;
      padding: 10px 10px 15px 10px;
      width: 23%;

      
      @media all and (max-width: 1300px) {
        width: 46%;
        margin: 4%;
      }
      @media all and (max-width: 400px) {
        width: 100%;
        margin: 0 auto;
      }

      .option-name {
        height: 50px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .option-description {
        height: 70px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
	  
      .option-price {
        font-size: 2rem;
        margin-bottom: 15px;
        color: #9b9b9b;
      }

      &.selected {
        border-color: #78c81c;
        .option-price {
          color: #78c81c;
        }
      }
    }
  }
  .results {
    border-radius: 20px;
    border: solid 1px #1f90cf;
    padding: 15px 25px;
    text-align: center;
    background: white;
    & > div {
      margin-bottom: 30px;
    }
    .fee-desc {
      margin-bottom: 12px;
    }
    .fee {
      font-size: 2em;
      margin-bottom: 10px;
    }
    .to-incentfit {
      color: #1f90cf;
    }
    .to-employees {
      color: #78c81c;
    }
  }
  .add-ons {
    .add-on {
	  cursor: pointer;
      justify-content: center;
      padding: 20px 0;
      background: white;
      margin-bottom: 15px;
      border-radius: 15px;
      box-shadow: 0 2px 14px 0 #ebebeb;
      border: 1px solid #ebebeb;
      &.selected {
        border-color: #78c81c;
      }
      .addon-name {
        font-size: 1.3rem;
        font-weight: bold;
      }
      .col-8 {
        border-right: 1px solid #ebebeb;
      }
      .togglebutton,
      .addon-price {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .price {
        font-size: 1.5rem;
        font-weight: 800;
      }
      .subtext {
        line-height: 18px;
        margin-top: 5px;
      }
    }
  }
}
.fixed-footer {
  background: white;
}
