.page-template-products-page {
  #content {
    padding: 0;
    margin: initial;
  }
  #fp-nav ul li a span {
    background: white !important;
  }
  &.large-screen {
    .navbar {
      background: white !important;
      padding-top: 10px;

      li a {
        color: rgb(85, 85, 85) !important;
      }
    }
  }
}
