.services {
    background-color: white;
    padding: 4rem;

    .service {
        display: flex;
        align-items: center;
        justify-items: center;

        a {
            color: $blue-grey-900;
        }

        &-name {
            margin-bottom: 2rem;

            strong {
                font-weight: 900;
            }
        }
    }
}