// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  .page-numbers {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    line-height: $line-height;
  }

  .page-numbers {
    &:first-child {
        @include border-left-radius($border-radius);
    }
    &:last-child {
        @include border-right-radius($border-radius);
    }
  }
}
